HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
/out
bin/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.DS_Store

.gradle/

.java-version
*.bak
*/out/*
*/.gradle/*
gradle/
gradlew
gradlew.*
*/gradle/*
*/gradlew/*
*/gradlew.*/*
=======
### Intellij  ###
.idea/*

### Java ###
# Compiled class file
*.class
*.log
*.ctxt
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

### Gradle ###
.gradle
**/build/
!src/**/build/

gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache
